In [10]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [18]:
file_path = "C:/Users/Jaisw/OneDrive/Desktop/Titanic.csv"
df = pd.read_csv(file_path)
print(df.head())

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [32]:
titanic = pd.read_csv(file_path)
df = pd.get_dummies(titanic)
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,False,False,True,False,False,True,False,True,True,False
1,False,False,True,False,False,True,False,True,True,False
2,False,False,True,False,False,True,False,True,True,False
3,False,False,True,False,False,True,False,True,True,False
4,False,False,True,False,False,True,False,True,True,False

In [36]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Survived_No, Class_Crew)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Gender_Female, Survived_Yes)
19  0.757383                           (Age_Adult, Gender_Male)
20  0.619718                         (Survived_No, Gender_Male)
21  0.166742                        (Gender_Male, Survived_Yes)
22  0.653339                           (Survived_No, Age_Adult)
23  0.297138                          (Age_Adult, Survived_Yes)
24  0.209905                (Gender_Male, Age_Adult, Class_3rd)
25  0.191731              (Survived_No, Gender_Male, Class_3rd)
26  0.216265                (Survived_No, Age_Adult, Class_3rd)
27  0.391640               (Age_Adult, Gender_Male, Class_Crew)
28  0.304407             (Survived_No, Gender_Male, Class_Crew)
29  0.305770               (Survived_No, Age_Adult, Class_Crew)
30  0.143571           (Age_Adult, Gender_Female, Survived_Yes)
31  0.603816              (Survived_No, Age_Adult, Gender_Male)
32  0.153567             (Age_Adult, Gender_Male, Survived_Yes)
33  0.175829   (Survived_No, Age_Adult, Gender_Male, Class_3rd)
34  0.304407  (Survived_No, Age_Adult, Gender_Male, Class_Crew)

In [40]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,1.0,0.004587,1.005694,0.639010,0.152050,0.005661,0.567012
1,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,1.0,0.004587,2.682493,0.037128,0.152050,0.627212,0.567012
2,(Age_Adult),(Class_2nd),0.950477,0.129487,0.118582,0.124761,0.963505,1.0,-0.004492,0.994601,-0.433377,0.123346,-0.005429,0.520275
3,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,1.0,-0.004492,0.588085,-0.041697,0.123346,-0.700435,0.520275
4,(Gender_Male),(Class_3rd),0.786461,0.320763,0.231713,0.294627,0.918520,1.0,-0.020555,0.962947,-0.293496,0.264660,-0.038478,0.508503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,"(Gender_Male, Class_Crew)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,1.0,0.048533,1.556362,0.262074,0.411043,0.357476,0.621594
102,(Survived_No),"(Age_Adult, Gender_Male, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,1.0,0.039280,1.105434,0.399458,0.398335,0.095378,0.613463
103,(Age_Adult),"(Survived_No, Gender_Male, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,1.0,0.015075,1.023334,1.000000,0.320268,0.022802,0.660134
104,(Gender_Male),"(Survived_No, Age_Adult, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
105,(Class_Crew),"(Survived_No, Age_Adult, Gender_Male)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600

In [42]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,1.0,0.004587,1.005694,0.639010,0.152050,0.005661,0.567012
1,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,1.0,0.004587,2.682493,0.037128,0.152050,0.627212,0.567012
8,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,1.0,0.022745,1.052040,0.293515,0.316547,0.049466,0.551119
9,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,1.0,0.022745,1.281251,0.139592,0.316547,0.219513,0.551119
10,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,"(Gender_Male, Class_Crew)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,1.0,0.048533,1.556362,0.262074,0.411043,0.357476,0.621594
102,(Survived_No),"(Age_Adult, Gender_Male, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,1.0,0.039280,1.105434,0.399458,0.398335,0.095378,0.613463
103,(Age_Adult),"(Survived_No, Gender_Male, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,1.0,0.015075,1.023334,1.000000,0.320268,0.022802,0.660134
104,(Gender_Male),"(Survived_No, Age_Adult, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
105,(Class_Crew),"(Survived_No, Age_Adult, Gender_Male)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600